<head>
    <title>Cadastro</title>
    <body>
        <h1>Cadastro de Pacientes</h1>
        <form action="/cadastro_paciente" method="post">
            <table>
                <tr>
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome_paciente"/>
                </tr>
                <tr>
                    <label for="sobrenome">Sobrenome:</label>
                    <input type="text" id="sobrenome" name="sobrenome_paciente"/>
                </tr>
                <tr class="button">
                    <button type="submit">Cadastrar</button>
                </tr>
            </table>
        </form>
        <form action="/">
            <input type="submit" value="Ir para página inicial" />
        </form>
    </body>
</head>