<head>
    <title>Cadastro</title>
    <body>
        <h1>Cadastro de Profissionais</h1>
        <hr>
        <form action="{{url_for('cadastro_profissional')}}" method="post">
            <table>        
                <tr>
                    <label for="tipo-profissional">Tipo do profissional:</label>
                    <select id="tipo" name="tipo_profissional" multiple>
                        <option value="Dentista-geral">Dentista Geral</option>
                        <option value="Dentista-buco">Dentista Bucomaxilo</option>
                        <option value="Dentista-endo">Dentista Endodontista</option>
                        <option value="Auxiliar">Auxiliar</option>
                    </select>
                </tr>
                <tr>
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome_profissional"/>
                </tr>
                <tr>
                    <label for="sobrenome">Sobrenome:</label>
                    <input type="text" id="sobrenome" name="sobrenome_profissional"/>
                </tr>
                <tr class="button">
                    <button type="submit">Cadastrar</button>
                </tr>
            </table>
        </form>
        <form action="/">
            <input type="submit" value="Ir para página inicial" />
        </form>
    </body>
</head>